PORT=3003
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Google Service Account Credentials
# Reemplaza los saltos de línea con \n al poner la PRIVATE_KEY en .env
GOOGLE_CLIENT_EMAIL=tu-service-account@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=tu-email@gmail.com
